<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
            <h1>Alunos</h1><br>
            <div class="alinharADireita">
                <a (click)="new()" class="btn btn-success btn-rounded" mdbRippled>
                    <i class="fas fa-plus fa-sm"></i> Novo
                </a>
            </div>
                            
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">CPF</th>
                        <th scope="col">TELEFONE</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (aluno of lista; track $index) {
                        <tr>
                            <td>{{aluno.id}}</td>
                            <td>{{aluno.nomeAluno}}</td>
                            <td>{{aluno.cpf}}</td>
                            <td>{{aluno.telefone}}</td>
                            <td class="alinharADireita">
                                <a (click)="edit(aluno)" class="btn btn-primary btn-rounded" mdbRippled>
                                    <i class="fas fa-pencil fa-sm"></i>
                                </a>
                                <button (click)="delete(aluno)" class="btn btn-danger btn-rounded" mdbRippled>
                                    <i class="fas fa-trash fa-sm"></i>
                                </button>
                            </td>
                        </tr>
                        }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>


<ng-template #modalAlunoForm>

    <div class="modal-header">
        @if(alunoEdit.id > 0){
            <h5 class="modal-title" id="exampleModalLabel">Editar aluno</h5>
        }@else {
            <h5 class="modal-title" id="exampleModalLabel">Novo aluno</h5>  
        }
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-aluno-form [aluno]="alunoEdit" (meuEvento)="meuEventoTratamento($event)"></app-aluno-form>

    </div>

</ng-template>
