<div class="container">
    <div class="row">
      <div class="col-4"></div>
  
      <div class="col-4">
        <div class="card">
          <div class="card-body centralizar">
            <h2>Cadastro de Alunos</h2>
  
  
            <form #formulario="ngForm" (ngSubmit)="save()">
  
              Nome do Aluno:<br>
            <input  required [(ngModel)]="aluno.nomeAluno" type="text" class="form-control" name="nome">
              <br>
            CPF:<br>
            <input   [(ngModel)]="aluno.cpf" type="text" class="form-control" name="cpf">
              
              <br />
              TELEFONE:<br>
            <input   [(ngModel)]="aluno.telefone" type="text" class="form-control" name="telefone">
              
              <br />

              <div class="input-group mb-3">
                @if(aluno.turma){
                <div class="border w-100 p-2 text-primary">{{aluno.turma.nomeTurma}}</div>
                <button (click)="buscarTurma()" class="btn btn-secondary" type="button" mdbRipple
                  rippleColor="danger">
                  Trocar turma
                </button>
                }@else{
                <div class="border w-100 p-2">Nenhuma turma selecionada!</div>
                <button (click)="buscarTurma()" class="btn btn-secondary" type="button" mdbRipple
                  rippleColor="danger">
                  Buscar turma
                </button>
                }
              </div>

              @if(aluno.id > 0){
                <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
                  <i class="fas fa-save fa-sm"></i> Atualizar
                </button>
                }@else {
                <button type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-rounded">
                  <i class="fas fa-save fa-sm"></i> Salvar
                </button>
                }

                <select [compareWith]="compareId" class="form-control" name="turmas" [(ngModel)]="aluno.turma">
                  <option [value]="undefined">:: Outra forma de N para 1 aqui</option>
                  @for (turma of listaTurmas; track $index) {
                  <option [ngValue]="turma">{{turma.nomeTurma}}</option>
                  }
                </select>
            </form>
          </div>
        </div>
           
        
      </div>
  
      <div class="col-4">
      </div>
      
    </div>
  </div>
  
  <ng-template #modalTurmasList>
  
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Listagem de Turmas</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
  
      <app-turma-list [modoModal]="true" (meuEvento)="meuEventoTratamento($event)"></app-turma-list>
  
    </div>
  
  </ng-template>
  
  
  
  